body{
    width: 97%;
    color :rgb(255, 255, 255);
}

.row{
    display:flex;
}

.contMeshMap{
    width: 650px;
    height:550px;
}

.infoMapa {
    position: absolute;
    top: 150px;
    font-size: 14px;
    margin: 5px;
    background-color: black;
    color: white;
    max-width: 150px;
    min-width: 100px;
    padding: 10px;
}

.mapa3d{
    width: 650px;
    height: 100%;
    display: "inline";
}
.leyenda3d{
    width: 100%;

}

table{
    width: 100%;
    height: 50px;
}

.contentchart{
    width: 800px;
    height: 600px;
    display: "inline";
}

.barChart{
    height: 50%;
    display: block;
}

.lineChart{
    height: 35%;
    display: block;
}




.div_form {
  background-color: rgb(96, 98, 99);
  text-align: center;
  min-width:250px;
  height:650px;
  max-width:250px;
  max-height:700px;
  display: "inline";
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    text-align: center;
    background-color: rgb(96, 98, 99);
    width:100%;
    margin:auto;
    border: 5px outset rgb(96, 98, 99);
    font-family: Arial, Helvetica, sans-serif;
}

.anio_visual{
    text-align: center;
    line-height: 20%;
    background-color: rgb(96, 98, 99);
    min-width:calc(100% - 150px);
    width:calc(133% - 150px);
    border: 5px outset rgb(96, 98, 99);
    height: 42px;
    font-size: 20px;
    display: "inline";
    font-family: Arial, Helvetica, sans-serif;
}


.representacion {
    min-height:650px;
    width: calc(100% - 250px);
    max-width: calc(100% - 250px);
    max-height:650px;
}

.boton_datos{
    display: block;
    width: 100%;
}


.btnTag {
    min-width: 20%;
    max-width: 20%;
    width: 20%;
    margin: 0.5%;
    max-height: 40px;
    min-height: 40px;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
}

.tags{
    width:100%;
    height: 40px;
    display: block;
}

.datos_vision{
     column-count: 3;
}

.imagen1{
    
}

.botonAct{
    background-color: rgb(0, 0, 0);
    border-color: white;
    color: white;
    font-size: 30px;
    cursor: pointer;
    min-width: 50px;
    min-height: 50px;
}


.contBotonMenu{
    display: "inline";
    width: 50px;
    height: 50px;
}



.tooltip {
    display: "inline";
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
